body {
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    min-height: 50px;
    height: 5%;
    font-size: 150%;
    padding-left: 15px;
    justify-content: left;
    align-items: center;
    background-color: darkgray;
}

.tabs {
    width: 100%;
    max-height: calc(100% - 50px);
    height: 95%;
    display: flex;
    grid-template: "killer loadouts perks";
}

.killerTab {
    grid-area: killer;
    width: 15%;
    background-color: gray;
}

#killerSelect {
    width: 172px;
    font-size: 16px;
}

#killerImg {
    aspect-ratio: 1/1;
    width: 172px;
}

.survivorLoadouts {
    grid-area: loadouts;
    width: 50%;
    background-color: dimgray;
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 40% 40%;
    grid-row-gap: 15px;
    grid-column-gap: 25px;
    justify-content: center;
}

.loadoutBox {
    border: 3px solid forestgreen;
    text-align: center;
    font-size: 30px;
    color: limegreen;
}

.loadout {
    height: calc(100% - 35px);
    display: grid;
    grid-template-columns: 44% 44%;
    grid-template-rows: 30% 30%;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    justify-content: center;
}

.perk {
    border: 3px solid forestgreen;
}

#survivor1 {
}
#survivor2 {
}
#survivor3 {
}
#survivor4 {
}

.perkTab {
    grid-area: perks;
    width: 35%;
    background-color: gray;
}